<!doctype html>
<html lang="en" class="">

<head>
	<link rel="stylesheet" href="./bridget_style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	
</head>

<body>
	<div class="floating-chat enter">
			<i class="fa fa-comments" aria-hidden="true"></i>
			<div class="chat">
				<div class="header">
					<span class="title">
						What do you think?
					</span>
					<button>
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
								 
				</div>
				<ul class="messages">
					<li class="other">asdasdasasdasdasasdasdasasdasdasasdasdasasdasdasasdasdas</li>
				</ul>
				<div class="footer">
					<div class="text-box" contenteditable="true" disabled="true"></div>
					<button id="sendMessage">send</button>
				</div>
			</div>
	</div>
	<script src="./bridget_script.js"></script>
</body>

</html>